In [26]:
from sqlalchemy import create_engine
import pyodbc
import pandas as pd
import os
import configparser as cp

In [27]:
config= cp.ConfigParser()
config.read('db_config.ini')

pwd = config['secrets']['PGSQL_Comp_Fin_PASS']
uid = config['secrets']['PGSQL_Comp_Fin_UID']

In [28]:
server = "localhost"
db = "Company Financials"
port = "5432"
file_dir= "C:\\Users\\USER\\Documents\\Python Scripts\\ETL Company Financials"

In [29]:
#Extract Function
def extract_data_csv(csv_file):
    try:
        df= pd.read_csv(csv_file)
        return df
    
    except:
        print('Cant find file')
        
extract_data_csv('Financials.csv').head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [64]:
def transform_data_csv(extracted_data):
    try:
        df = extracted_data.copy()
        
        #select all the columns with string and object data types
        df_obj = df.select_dtypes(['object','string'])
        
        #using the strip method to remove all trailing zeroes in the object columns
        df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
        
        
        # Remove the leading and trailing spaces in the columns names
        df.columns = df.columns.str.strip()
        
        
        #Remove and/or Replace the following special characters in the tables '$', '-', ','
        df = df.replace ({'\$-':'0', ',':'','\$':'', '\(':'-', '\)':''}, regex=True)
        
        
        #Change data types
        df[float_columns]= df[float_columns].astype(float)
        df[integer_columns] = df[integer_columns].astype(int)
        df[date_columns] = pd.to_datetime(df[date_columns])
        
        
        return df
        
    except:
        print('failed to transform')

In [65]:
s= extract_data_csv('Financials.csv').head()

h = transform_data_csv(s)

h

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.50,3.00,20.00,32370.00,0,32370.00,16185.00,16185.00,01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.00,3.00,20.00,26420.00,0,26420.00,13210.00,13210.00,01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.00,3.00,15.00,32670.00,0,32670.00,21780.00,10890.00,01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.00,3.00,15.00,13320.00,0,13320.00,8880.00,4440.00,01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.00,3.00,15.00,37050.00,0,37050.00,24700.00,12350.00,01/06/2014,6,June,2014